body {
  font-family: $ff-default;
  font-size: $fs-body;
  font-weight: $fw-default;
  color: $color-text-neutralLight;
}

.faq {
  &-title {
    text-transform: uppercase;
    align-self: center;
    margin: 2rem 0;
    font-size: $fs-heading;
    font-weight: $fw-bold;
    color: $color-text-primaryDark;
  }
}

.question {
  &-title {
    font-size: $fs-question;

    color: $color-text-neutralDark;

    &:hover {
      color: $color-text-primaryLight;
    }
  }
}
