$color-text-primaryDark: hsl(238, 29%, 16%);
$color-text-primaryLight: hsl(14, 88%, 65%);

$color-bg-violet: hsl(273, 75%, 66%);
$color-bg-blue: hsl(240, 73%, 65%);

$color-text-neutralDark: hsl(237, 12%, 33%);
$color-text-neutralLight: hsl(240, 6%, 50%);

$color-dividers: hsl(240, 5%, 91%);
$color-white: #fff;

$fs-body: 0.75rem; // 12px
$fs-question: 0.8125rem; // 13px
$fs-heading: 2rem; // 32px

$ff-default: "Kumbh Sans", sans-serif;

$fw-default: 400;
$fw-bold: 700;
